html(lang="en")
    head
        include /src/base/pug/head.pug
        title A simple JS game tutorial
        style: include index.css
    body
        h1 A simple JS game tutorial
        include:markdown-it index.md
        script: include index.js
