@import "/src/base/styl/var"
@import "/src/base/styl/main_text"
@import "/src/base/styl/main_text_dark"
@import "/src/base/styl/a"
@import "/src/base/styl/a_dark"
@import "/src/base/styl/code"
@import "/src/base/styl/code_dark"
@import "/src/base/styl/h1_h2_h3"
@import "/src/base/styl/pre"
@import "/src/base/styl/pre_dark"

.keyword
.operator
    color #a33

.comment
    color #555

.string
    color #aa3

.number
.boolean
    color #33a

.dark
    .keyword
    .operator
        color #d88

    .comment
        color #888

    .string
        color #dd8

    .number
    .boolean
        color #88d
