html(lang='en')
    head
        include /head.pug
        title game
        style: include index.css
    body
        .modal
            h1 game
            dl
                dt objective
                dd accrue points by eliminating enemies
                dt ammo
                dd reloads over time; capped at 10
                dt lives
                dd start with 3; lose 1 per enemy touched
                dt movement
                dd WSAD or ARROWS
                dt shooting
                dd SPACEBAR
                dt starting the game
                dd P
        .info
        canvas
        script: include index.js
