*
    box-sizing border-box

html
body
    height 100%

html
    background #222
    color #ddd
    font-family sans-serif
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

body
    margin 0
    padding 10px

h1
    font-size 2em
    margin 0.666em 0

.modal
    width 300px
    margin 20vh auto 0
    padding 10px
    border-radius 10px
    background #fff
    color #222
    text-align center

.btn
    padding 10px
    background #5d5
    &:hover
        background darken(#5d5, 20%)
        cursor pointer

.fades
    transition opacity 0.5s
