*
    box-sizing border-box

html
body
    height 100%

html
    background #222
    color #ddd
    font-size 1em
    font-family Input, Menlo, Consolas, monospace
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

body
    margin 0
    padding 10px

h1
    font-size 2em
    margin 0.666em 0

canvas
    display block
    position absolute
    top 0
    left 0

.modal
    transition opacity 0.5s
    display none
    width 300px
    margin 15vh auto 0
    padding 10px
    border-radius 10px
    background #fff
    color #222
    text-align center

.btn
    padding 10px
    background #5d5
    &:hover
        background darken(#5d5, 20%)
        cursor pointer
