html(lang='en')
    head
        include /head.pug
        title game
        style: include index.css
    body
        .modal
            h1 game
            dl
                dt objective
                dd accrue points by eliminating enemies
                dt move
                dd WSAD or ARROWS
                dt shoot
                dd SPACEBAR
                dt start game
                dd P
        .info
        canvas
        script: include index.js
