html
    background #222
    color #ddd
    font-family Input, Menlo, Consolas, "Liberation Mono", monospace
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%

body
    margin 0

h1
    margin 0.666em 0
    font-size 2em
    text-align center

dt
    font-weight bold

dd
    margin 0 0 1em 4ch

canvas
    display block
    position absolute
    z-index -9
    top 0
    left 0

.modal
    max-width 50ch
    margin 15vh auto 0
    padding 1ch
    border-radius 1ch
    background #ddd
    color #222

.info
    display none
    padding 1ch
