html(lang='en')
    head
        meta(charset='utf-8')
        meta(content='width=device-width,initial-scale=1,user-scalable=no'
            name='viewport')
        link(href='/favicon.png' rel='icon')
        title game
        style: include index.css
    body
        .modal
            h1 game
            .btn play
        script: include index.js
