html(lang='en')
    head
        include /head.pug
        title game
        style: include index.css
    body
        .modal
            h1 game
            .btn play
        .info
        canvas
        script: include index.js
