html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport'
            content='width=device-width,initial-scale=1,user-scalable=no')
        link(rel='icon' href='/favicon.ico')
        title game
        style: include index.css
    body
        .modal
            h1 game
            .btn play
        script: include index.js
