doctype html
html
    meta(charset='utf-8')
    meta(name='viewport'
        content='width=device-width,initial-scale=1,user-scalable=no')
    title azdavis.xyz
    style: include 200.css
body
    #center azdavis.xyz
