*
    box-sizing border-box

html
body
    height 100%

html
    animation color_change 20s infinite
    color #111
    font-family Menlo, Consolas, monospace
    font-size 44px
    text-rendering optimizeLegibility
    text-size-adjust 100%
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

body
    display flex
    max-width 700px
    margin 0 auto
    padding 10px

a
    background-color transparent
    color inherit
    -webkit-text-decoration-skip objects

.center
    margin auto
    padding-bottom 100px
    text-align center

.big
    font-weight bold
    margin 0.5em 0

.octo:hover path
    fill #44d

@keyframes color_change
    0%
        background-color #dd2
    14.286%
        background-color #d22
    28.571%
        background-color #d2d
    42.857%
        background-color #22d
    57.143%
        background-color #2dd
    85.714%
        background-color #2d2
    100%
        background-color #dd2
