doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport'
            content='width=device-width,initial-scale=1,user-scalable=no')
        link(rel='icon' href='favicon.ico')
        title azdavis.xyz
        style: include 200.css
    body
        #center
            h1 azdavis.xyz
            a(href='https://github.com/azdavis') github
