@import "/base/variables"

html
    background light
    color dark
    font-family mono
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%

body
    max-width 80ch
    margin 0 auto
    padding 1em 1ch
