*
    box-sizing border-box

html
    background #222
    color #ddd
    font-size 1em
    font-family Input, Menlo, Consolas, monospace
    text-rendering optimizeLegibility
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

body
    max-width 700px
    margin 0 auto
    padding 10px

h1
    font-size 2em
    margin 0.666em 0
