html(lang="en")
  head
    include /base/head.pug
    title error 404
    style: include 404.css
  body
    h1 error 404
    p the requested resource #[span#url] could not be found
    script: include 404.js
