html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport'
            content='width=device-width,initial-scale=1,user-scalable=no')
        link(rel='icon' href='/favicon.ico')
        title error 404
        style: include 404.css
    body
        h1 error 404
        p the requested resource could not be found
