*
    box-sizing border-box

html
    background #ddd
    color #222
    font-family Input, Menlo, Consolas, "Liberation Mono", monospace
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%

body
    max-width 700px
    margin 0 auto
    padding 10px

h1
    font-size 2em
    margin 0.666em 0
