html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport'
            content='width=device-width,initial-scale=1,user-scalable=no')
        title こんにちは
        style: include index.css
    body
        .center
            // すみません、日本語がわかりません
            .big 私はアリエルデイビスです
            a(href='https://github.com/azdavis').icon
                img(src='github-logo.png' alt='github-logo')
