html(lang='ja')
    head
        meta(charset='utf-8')
        meta(content='width=device-width,initial-scale=1,user-scalable=no'
            name='viewport')
        link(href='/favicon.png' rel='icon')
        title こんにちは
        style: include index.css
    body
        .center
            .big 私はアリエルデイビスです
            a(href='https://github.com/azdavis').icon
                img(src='github-logo.png' alt='github-logo')
