html(lang='en')
    head
        include /head.pug
        title man ariel-davis
        style: include index.css
    body
        .top
            div ARIEL-DAVIS(1)
            .ct User Commands
            .rt ARIEL-DAVIS(1)
        h2 NAME
        .sec.
            ariel-davis - a guy who does things sometimes
        h2 SYNOPSIS
        .sec.
            #[b ariel-davis] [option]... [command] [arg]...
        h2 DESCRIPTION
        .sec
            p.
                Ariel Davis is a young man living in the United States. He
                studies Computer Science™ at Carnegie Mellon®. He wrote the
                source for this website and is a fan of such symbols as ™, ®,
                and ©.
            p.
                Ariel spends most of his time browsing Hacker News™ and other
                news websites. When he's not doing that, he may work on
                whatever ephemeral and pointless personal project he's
                concerning himself with.
            p.
                Ariel enjoys activities like sportdisc (known to many as
                Frisbee®) and copy-pasting from Stack Overflow™ (know to many
                as programming). He is low-key attempting to learn 日本語 (known
                to many as Japanese).
        h2 OPTIONS
        .sec
            h3 -h, --help
            .opt.
                Display this help.
            h3 -v, --version
            .opt.
                Display version information (current age in seconds).
            h3 -q, --quiet
            .opt.
                Be quiet, only report errors. This is the default.
            h3 -v, --verbose
            .opt.
                Be chatty. This can only be used in special cases.
            h3 -f, --force
            .opt.
                Do not ask for confirmation when carrying out the given
                command.
            h3 -i, --interactive
            .opt.
                Ask for confirmation more than usual.
        h2 AUTHORS
        .sec.
            Written by David and Karen Davis.
        h2 REPORTING BUGS
        .sec.
            Personal email: &lt;ariel.z.last_name@icloud.com&gt; (but replace
            last_name with the actual last name).
        h2 COPYRIGHT
        .sec.
            Copyright © 1998-2016 Ariel Davis. All rights reserved.
        h2 SEE ALSO
        - const gh = 'https://github.com/azdavis'
        .sec.
            GitHub profile at: &lt;#[a(href= gh)= gh]&gt;
        .bot
            div Ariel Davis v???
            .ct 2016-06-06
            .rt ARIEL-DAVIS(1)
