html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport'
            content='width=device-width,initial-scale=1,user-scalable=no')
        link(rel='icon' href='/favicon.ico')
        title こんにちは
        style: include index.css
    body
        .center
            // すみません、日本語がわかりません
            p 私はアリエルデイビスです
            a(href='https://github.com/azdavis').icon
                img(src='img/gh.png' alt='github-logo')
            a(href='https://facebook.com/ariel.z.davis').icon
                img(src='img/fb.png' alt='facebook-logo')
