@import "/base/variables"

html
    background light
    color dark
    font 16px/1.3 mono
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%

.dark
    background dark
    color light
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

body
    max-width 80ch
    margin 0 auto
    padding 1.3em 1ch

h2
h3
    font-size 1em

h2
.bot
    margin 1.3em 0 0

h3
    margin 0

p
    margin 0 0 1.3em

a
    text-decoration none
    &:hover
        text-decoration underline
    &
    &:visited
        color inherit

.two *
    display inline-block
    width 50%
    &:last-child
        text-align right

.sec
    margin 0 6ch 0

.opt
    margin 0 0 1.3em 4ch

@media only screen and (max-width phone)
    .sec
        margin 0 3ch 0
    .opt
        margin 0 0 1.3em 2ch
