html
    background #ddd
    color #222
    font-family Input, Menlo, Consolas, "Liberation Mono", monospace
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%

body
    max-width 80ch
    margin 0 auto
    padding 1ch

h2
h3
    font-size 1em

h2
    margin 1em 0 0

h3
    margin 0

p
    margin 0 0 1em

a
a:visited
    color inherit

.top div
    display inline-block
    width 33.333%

.ct
    text-align center

.rt
    text-align right

.indent
    margin 0 7ch 0

.opt
    margin 0 0 1em 4ch

@media only screen and (max-width 600px)
    html
        font-size 14px
    .indent
        margin 0 2ch 0
    .opt
        margin 0 0 1em 2ch
