*
    box-sizing: border-box

html
    color: #222
    font: bold medium Palatino, Georgia, serif
    overflow: hidden

body
    margin: 0

canvas
    display: block
    width: 100%
    cursor: pointer

noscript div
    padding: 10px
    text-align: center

@media not print
    .dark
        background: #222
        color: #ddd
        -moz-osx-font-smoothing: grayscale
        -webkit-font-smoothing: antialiased
