html(lang="en")
    head
        include ../_base/head.pug
        style: include ./index.css
        title catan-gen
    body
        noscript: div JavaScript is required.
        script: include ./index.c.js
