html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        style: include ./index.css
        title catan-gen
    body
        noscript: div JavaScript is required
        script: include ./index.min.js
