html(lang="en")
	head
		include /src/_base/head.pug
		style: include /build/catan-gen/index.css
		title catan-gen
	body
		noscript: div JavaScript is required
		script: include /build/catan-gen/index.js
