html(lang="en")
    head
        include ../_base/head.pug
        style: include ./index.css
        title clock
    body
        noscript: div JavaScript is required
        #clock
            .row
                #it IT IS
                #ha HALF
                #te TEN
            .row
                #qu QUARTER
                #tw TWENTY
            .row
                #fi FIVE
                #mi MINUTES
                #to TO
            .row
                #pa PAST
                #h1 ONE
                #h3 THREE
            .row
                #h2 TWO
                #h4 FOUR
                #h5 FIVE
            .row
                #h6 SIX
                #h7 SEVEN
                #h8 EIGHT
            .row
                #h9 NINE
                #h10 TEN
                #h11 ELEVEN
            .row
                #h0 TWELVE
                #oc O'CLOCK
        script: include ./index.c.js
