$dark = #222
$light = #fff
$off_dark = lighten($dark, 4%)
$off_light = darken($light, 4%)

$red = #a22
$green = #2a2
$blue = #22a

$phone = 600px
$rnd_corner = 3px

$fz = large
$fz_mono = 0.85em
$lh = 1.5

$serif = Palatino, Georgia, serif
$mono = Input, Menlo, Consolas, "Liberation Mono", monospace

$text_smooth()
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

*
    box-sizing border-box
