html(lang="en")
    head
        include ../base/head.pug
        style: include index.css
        title Ariel Davis
    body
        h1 Ariel Davis
        .contact
            a#email Email
            span.sep
            span.print
                span(data-print="azdavis.xyz")
                span.sep
            a#gh GitHub
        h2 Objective
        p.
            To take the fullest advantage of research opportunities,
            internships, and my classes, in order to further my understanding
            in the field of computer science.
        h2 Education
        dl
            dt May 2020
            dd
                p Carnegie Mellon University
                p Pittsburgh, PA
                p Bachelor of Science in Computer Science
            dt June 2016
            dd
                p Summit High School
                p Summit, NJ
                p Summa Cum Laude
        h2 Selected Coursework
        dl
            dt Spring 2017
            dd
                p 15-215: Great Theoretical Ideas in Computer Science
                p 36-271: Probability Theory and Random Processes
                p 82-171: Elementary Japanese I
            dt Fall 2016
            dd
                p 15-131: Great Practical Ideas in Computer Science
                p 15-150: Principles of Functional Programming
                p 21-241: Matrices and Linear Transformations
            dt Summer 2015
            dd
                p 15-122: Principles of Imperative Computation
                p 21-127: Concepts of Mathematics
        h2 Activities
        dl
            dt Fall 2016
            dd
                p HackCMU
                p ScottyLabs
            dt 2015-2016
            dd
                p Summit High School community service club
                p Summit High School computer club
            dt Summer 2015
            dd: p Carnegie Mellon University Pre-College
            dt Summer 2014
            dd: p Northwestern University Center for Talent Development
        h2 Awards
        dl
            dt 2016
            dd
                p Summit High School Computer Science Award of Excellence
                p National AP Scholar
            dt 2015-2016
            dd: p AP Scholar with Distinction
        h2 Skills
        dl
            dt Languages
            dd: p Ruby, JavaScript, Haskell, Java, C, Python
            dt Markup
            dd: p HTML, CSS, LaTeX, Markdown
            dt Tools
            dd: p Git, GitHub, Make, Shell
        script: include index.js
