html(lang="en")
    head
        include /src/base/head.pug
        title Ariel Davis - Resume
        style: include index.css
    body
        h1 Ariel Davis - Resume
        include:markdown-it index.md
