html(lang="en" manifest="index.manifest")
    head
        include ../_base/head.pug
        style: include ./index.css
        title Ariel Davis
    body
        h1 Ariel Davis
        div
            a#email Email
            span.sep
            a#tel Telephone
            span.sep
            a(href="/") Website
            span.sep
            a#gh GitHub
        h2 Education
        dl
            dt May 2020
            dd
                p Carnegie Mellon University
                p Pittsburgh, PA
                p GPA 4.0
                p B.S in Computer Science, Minor in Japanese Studies
            dt June 2016
            dd
                p Summit High School
                p Summit, NJ
                p Summa Cum Laude
        h2 Selected Coursework
        dl
            dt Spring 2017
            dd
                p 15-251: Great Theoretical Ideas in Computer Science
                p 36-217: Probability Theory and Random Processes
                p 82-171: Elementary Japanese I
            dt Fall 2016
            dd
                p 15-131: Great Practical Ideas in Computer Science
                p 15-150: Principles of Functional Programming
                p 21-241: Matrices and Linear Transformations
            dt Summer 2015
            dd
                p 15-122: Principles of Imperative Computation
                p 21-127: Concepts of Mathematics
        h2 Activities
        dl
            dt Spring 2016
            dd
                p.
                    TartanHacks: helped to create a
                    #[a(href="https://github.com/jerryyu8/tartanhacks-2017") ML webapp]
            dt Fall 2016
            dd
                p.
                    HackCMU: helped to create a
                    #[a(href="https://github.com/mrama/Hack-CMU-2016") CV poster simulator]
                p.
                    ScottyLabs: gave a talk on
                    #[a(href="https://scottylabs.org/wdw/frontend/") frontend development]
            dt Summer 2015
            dd
                p.
                    Carnegie Mellon University Pre-College: took CMU classes in
                    a compressed form over 6 weeks
            dt Summer 2014
            dd
                p.
                    Northwestern University Center for Talent Development:
                    learned basic HTML and CSS
        h2 Achievements
        dl
            dt Fall 2016
            dd
                p Dean's List
            dt 2016
            dd
                p Summit High School Computer Science Award of Excellence
                p National AP Scholar
            dt 2015-2016
            dd
                p AP Scholar with Distinction
        h2 Skills
        dl
            dt Languages
            dd
                p JavaScript, Haskell, Java, Python, Ruby, C
            dt Markup
            dd
                p HTML, CSS, LaTeX, Markdown, reStructuredText
            dt Tools
            dd
                p Git, GitHub, Make, Shell
        script: include ./index.c.js
