html(lang="en")
	head
		include /src/_base/head.pug
		style: include /build/resume/index.css
		title Ariel Davis
	body
		h1 Ariel Davis
		div
			a#email(href="#") Email
			span.sep
			a#tel(href="#") Telephone
			span.sep
			a(href="/") Website
			span.sep
			a#gh(href="#") GitHub
		h2 Education
		dl
			dt May 2020
			dd
				p Carnegie Mellon University
				p Pittsburgh, PA
				p B.S in Computer Science, Minor in Japanese Studies
			dt June 2016
			dd
				p Summit High School
				p Summit, NJ
				p Summa Cum Laude
		h2 Selected Coursework
		dl
			dt Fall 2017
			dd
				p 15-213: Introduction to Computer Systems
				p 82-271: Intermediate Japanese I
				p 82-273: Introduction to Japanese Language and Culture
			dt Summer 2017
			dd
				p 82-172: Elementary Japanese II
			dt Spring 2017
			dd
				p 15-251: Great Theoretical Ideas in Computer Science
				p 82-171: Elementary Japanese I
			dt Fall 2016
			dd
				p 15-131: Great Practical Ideas in Computer Science
				p 15-150: Principles of Functional Programming
			dt Summer 2015
			dd
				p 15-122: Principles of Imperative Computation
				p 21-127: Concepts of Mathematics
		h2 Activities
		dl
			dt Fall 2017
			dd
				p.
					TA: am currently a TA for 15-131 and 15-150
			dt Summer 2017
			dd
				p.
					TA: was a TA for 15-150
			dt Spring 2017
			dd
				p.
					TartanHacks: helped to create a
					#[a(href="https://github.com/jerryyu8/tartanhacks-2017") ML webapp]
			dt Fall 2016
			dd
				p.
					HackCMU: helped to create a
					#[a(href="https://github.com/mrama/Hack-CMU-2016") CV poster simulator]
				p.
					ScottyLabs: gave a talk on
					#[a(href="https://scottylabs.org/wdw/frontend") frontend development]
			dt Summer 2015
			dd
				p.
					Carnegie Mellon University Pre-College: took CMU classes in
					a compressed form over 6 weeks
			dt Summer 2014
			dd
				p.
					Northwestern University Center for Talent Development:
					learned basic HTML and CSS
		h2 Achievements
		dl
			dt Spring 2017
			dd
				p Dean's List
			dt Fall 2016
			dd
				p Dean's List
			dt 2016
			dd
				p Summit High School Computer Science Award of Excellence
				p National AP Scholar
				p AP Scholar with Distinction
		h2 Skills
		dl
			dt Languages
			dd
				p JavaScript, Haskell, Java, Python, Ruby, C
			dt Markup
			dd
				p HTML, CSS, LaTeX, Markdown, reStructuredText
			dt Tools
			dd
				p Git, GitHub, Make, Shell
		script: include /build/resume/index.js
