html(lang="en")
    head
        include /src/base/head.pug
        title Ariel Davis
        style: include index.css
    body
        h1 Ariel Davis
        nav
            a(href="mailto:azdavis@andrew.cmu.edu") Email
            span.sep
            a(href="tel:908-514-1006") Telephone
            span.sep
            a(href="https://github.com/azdavis") GitHub
        h2 Education
        dl
            dt Carnegie Mellon University, Pittsburgh, PA
            dd BS in Computer Science, May 2020
            dt Summit High School, Summit, NJ
            dd Diploma with Honors, GPA 4.5, June 2016
        h2 Selected Coursework
        ul
            li Concepts of Mathematics
            li Principles of Imperative Computation
            li Great Practical Ideas in Computer Science
            li Matrices and Linear Transformations
            li Principles of Functional Programming
        h2 Activities
        ul
            li Summit High School community service club, 2015-2016
            li Summit High School computer club, 2015-2016
            li Carnegie Mellon University Pre-College program, 2015 summer
            li Northwestern University web dev program, 2014 summer
        h2 Awards
        ul
            li National AP Scholar, 2016
            li AP Scholar with Distinction 2015 - 2016
            li Summit High School Computer Science Award, 2016
        h2 Skills
        dl
            dt Languages
            dd Ruby, Python, Haskell, C, Java
            dt Web
            dd HTML, CSS, JavaScript, Pug, Stylus, TypeScript
            dt Markup
            dd LaTeX, Markdown
            dt Tools
            dd Git, GitHub, Make, Shell
