@import "/src/base/styl/var"
@import "/src/base/styl/main_text"
@import "/src/base/styl/main_text_dark"
@import "/src/base/styl/a"
@import "/src/base/styl/a_dark"
@import "/src/base/styl/h1_h2_h3"

p
dl
    margin 0

dt
dd
    display inline-block
    vertical-align top

dt
    width 20%
    font-style italic

dd
    width 80%
    margin 0 0 0.5em
    padding-left 1em
    text-indent -1em

.sep
    margin 0 0.5em
    &::after
        content "|"

.print
    display none

@media only screen and (max-width $phone)
    dt
    dd
        display block
        width auto
    dd
        margin-left 1.5em

@media only print
    html
        font-size small
        color $dark
    body
        max-width none
        margin 0
        padding 0
    h1
    h2
    h3
        margin 0.75em 0 0.25em
    a
        color inherit
    .print
        display inline
    [data-print] // @stylint ignore
        font-size 0
        &::after
            content attr(data-print)
            font-size 1rem
            color inherit
