light = #ddd
dark = #222

html
    background dark
    color light
    font-family Input, Menlo, Consolas, "Liberation Mono", monospace
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%

body
    margin 0

h1
    text-align center

dt
    font-weight bold

dd
    margin 0 0 1em 4ch

canvas
    display block
    position absolute
    z-index -9
    top 0
    left 0

.modal
    max-width 50ch
    margin 2em auto 0
    padding 1ch
    border-radius 1ch
    background light
    color dark

.info
    display none
    padding 1ch
    white-space pre

.err
    padding 1ch
    background #d22
    color light
    text-align center

#kbd
    display none

@media only screen and (max-width 600px)
    html
        background light
    dd
        margin 0 0 1em 2ch
    .modal
        margin-top 0
        border-radius 0
