@import "/base/constants"

*
    box-sizing border-box

html
    background dark
    font 16px/1.3 ff-monospace
    text-size-adjust()

body
    margin 0

h1
    text-align center

dt
    font-weight bold

dd
    margin 0 0 1em 4ch

canvas
    display block
    position absolute
    z-index -9
    top 0
    left 0

#modal
    max-width 62ch
    margin 1em auto
    padding 1ch
    border-radius 1ch
    background light
    color dark

#info
    display none
    padding 1ch
    color light
    white-space pre
    font-smoothing()

#msg
    padding 1ch
    color light
    text-important()

.red
    background #a22

.green
    background #2a2

@media only screen and (max-width phone)
    html
        background light
    dd
        margin 0 0 1em 2ch
    #modal
        margin 0 auto
