html(lang="en")
  head
    include /include/head.pug
    title lame geometry wars™
    style: include index.css
  body
    .modal
      h1 lame geometry wars™
      noscript: .err javascript is required
      .err#kbd a physical keyboard is required
      dl
        dt objective
        dd accrue points by shooting bullets at enemies
        dt ammo
        dd cap at 9; +1 per enemy spawned or 200 frames
        dt lives
        dd start with 3; -1 per enemy touched
        dt movement
        dd press WSAD and/or ARROWS
        dt shooting
        dd press SPACE; fire in direction of movement
        dt pausing/resuming
        dd tab out/in
        dt starting/restarting
        dd press P
    .info
    canvas
    script: include index.js
