html(lang="en")
  head
    include /include/head.pug
    title lame geometry wars™
    style: include index.css
  body
    .modal
      h1 lame geometry wars™
      noscript: .say.err javascript is required
      .say.err#kbd a physical keyboard is required
      .say.note#begin press P to begin
      dl
        dt objective
        dd accrue points while retaining lives
        dt score
        dd start at 0; +1 per enemy shot
        dt ammo
        dd cap at 9; +1 per enemy spawned or 200 frames
        dt lives
        dd start at 3; -1 per enemy touched
        dt movement
        dd press WSAD and/or ARROWS
        dt shooting
        dd press SPACE; fire in direction of movement
        dt pausing/resuming
        dd tab out/in
        dt starting/restarting
        dd press P
    .info
    canvas
    script: include index.js
