html(lang="en")
    head
        include /src/base/head.pug
        title.
            hello world
        style: include index.css
    body
        div.
            hello world
        script: include index.js
