@import "/src/base/var"
@import "/src/base/a"
@import "/src/base/code"

html
    color $dark
    font $fz/$lh $serif

body
    max-width 40em
    margin 0 auto
    padding 10px
h1
h2
h3
    line-height ($lh - 0.2)

pre
    padding 0.9em
    border-radius 3px
    background darken($light, 3%)
    overflow auto
