html(lang="en")
    head
        include /src/base/head.pug
        title Making fast websites
        style: include index.css
    body
        h1 Making fast websites
        include:markdown-it index.md
        script: include index.js
