@import "/src/base/var"

html
    color $dark
    font $fz/$lh $serif

h1
h2
h3
    line-height ($lh - 0.2)

body
    max-width 40em
    margin 0 auto
    padding 10px

pre
    padding 0.9em
    border-radius 5px
    background darken($light, 5%)
    white-space pre-wrap

code
    font-size 0.9em
    font-family $mono
