html(lang="en")
    head
        include /src/base/head.pug
        title.
            Avoiding website bloat
        style: include index.css
    body
        include:markdown-it index.md
        script: include index.js
