html(lang="en")
    head
        include /src/base/head.pug
        title.
            Avoiding website bloat
        style: include index.css
    body
        h1.
            Avoiding website bloat
        include:markdown-it index.md
