@import "/src/base/var"
@import "/src/base/a"
@import "/src/base/code-pre"

html
    color $dark
    font $fz/$lh $serif

h1
h2
h3
    line-height ($lh - 0.2)

body
    max-width 40em
    margin 0 auto
    padding 10px
