.Root {
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, Ubuntu, Roboto, sans-serif;
}

.Dl {
	margin: 0;
}

.Dt,
.Dd {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0.5em;
}

.Dt {
	width: 20%;
	font-style: italic;
}

.Dd {
	width: 80%;
	padding-left: 1em;
	text-indent: -1em;
}

.Sep {
	margin: 0 0.5em;
}

.Sep::after {
	content: "-";
}

@media only screen and (max-width: 600px) {
	.Root {
		font-size: 16px;
	}

	.Dt,
	.Dd {
		display: block;
		width: auto;
	}

	.Dt {
		margin: 0;
	}

	.Dd {
		margin-left: 1.5em;
	}
}

@media only print {
	.Root {
		font-size: 14px;
		line-height: 1.2;
	}

	.MainTitle,
	.SecTitle {
		margin: 0.1em 0;
	}

	.Print {
		font-size: 0;
	}

	.Print::after {
		content: attr(data-print);
		font-size: 14px;
	}
}
