html(lang="en")
    head
        include /src/base/head.pug
        title Lame Geometry Wars™
        style: include index.css
    body
        #modal
            h1 Lame Geometry Wars™
            #msg.red javascript is required
            dl
                dt Objective
                dd accrue points while retaining lives
                dt Shooting
                dd press SPACE; fire in direction of movement
                dt Movement
                dd press WSAD or ARROWS
        script: include index.js
