html(lang="en")
    head
        include /src/base/head.pug
        title.
            lame geometry wars™
        style: include index.css
    body
        #modal
            h1.
                lame geometry wars™
            #msg.red.
                javascript is required
            dl
                dt.
                    objective
                dd.
                    accrue points while retaining lives
                dt.
                    shooting
                dd.
                    press #[code space]; fire in direction of movement
                dt.
                    movement
                dd.
                    press #[code wsad] or #[code arrows]
        script: include index.js
