@import "/src/base/const"

$red = #a22
$green = #2a2

html
    background $dark
    user-select none
    font small-caps $fz/$lh $sans

body
    margin 0

h1
    margin 0.67em 0
    font-size 2em
    text-align center

dt
    font-weight bold

dd
    margin 0 0 1em 2em

canvas
    display block
    position absolute
    z-index -9
    top 0
    left 0

#modal
    max-width 30em
    margin 3em auto 0
    padding 0.5em
    border-radius 0.5em
    background $light
    color $dark
    user-select auto

#info
    display none
    padding 0.5em
    color $light
    font-variant normal
    font-family $mono
    white-space pre
    $text_smooth()

#msg
    padding 0.5em
    color $light
    font-weight bold
    text-align center

.red
    background $red

.green
    background $green

@media only screen and (max-width $phone)
    html
        background $light
    dd
        margin-left 1em
    #modal
        margin-top 0
