@import "/src/base/const"

html
    background $dark
    user-select none
    font $fz/$lh $sans

body
    margin 0

h1
    margin 0.67em 0
    font-size 2em
    text-align center

dt
    font-weight bold

dd
    margin 0 0 1em 2em

canvas
    display block
    position absolute
    left 0
    top 0
    z-index -5

code
    font 0.9em $mono

#modal
    max-width 30em
    margin 2em auto 0
    padding 10px
    border-radius 10px
    background $light
    color $dark
    user-select auto

#info
    display none
    padding 10px
    color $light
    font 0.9em $mono
    white-space pre
    $text_smooth()

#msg
    padding 10px
    color $light
    font-weight bold
    text-align center

.red
    background $red

.green
    background $green

@media only screen and (max-width $phone)
    html
        background initial
    dd
        margin-left 1em
    #modal
        margin-top 0
