html(lang="en")
    head
        include /src/base/head.pug
        title Lame Geometry Wars™
        style: include index.css
    body
        #modal
            h1 Lame Geometry Wars™
            #msg.red JavaScript is required
            dl
                dt Objective
                dd Accrue points while retaining lives
                dt Shooting
                dd Press #[code space]; fire in direction of movement
                dt Movement
                dd Press #[code wsad] or #[code arrows]
        script: include index.js
