html(lang="en")
    head
        include ../base/head.pug
        style: include index.css
        title Touch Hockey
    body
        noscript: div JavaScript is required
        script: include index.js
