html(lang="en")
	head
		include /src/_base/head.pug
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-capable" content="yes")
		style: include ./index.css
		title Touch Hockey
	body
		#msg JavaScript is required
		script: include ./index.c.js
