*
    box-sizing border-box

html
    color #222
    font medium/1.5 Input, Menlo, Consolas, "Liberation Mono", monospace

body
    margin 0

#msg
    position absolute
    left 0
    top 0
    width 100%
    padding 10px
    text-align center

canvas
    display block
    width 100%

@media not print
    .dark
        background #222
        color #ddd
        -moz-osx-font-smoothing grayscale
        -webkit-font-smoothing antialiased
