@import "/src/base/const"

html
    background #000
    color $light
    user-select none
    cursor none
    text-base(serif)
    font-variant small-caps
    text-smooth()

body
    margin 0

canvas
    display block

.msg
    position absolute
    top 0
    left 0
    width 100%
    padding 1ch
    text-important()

#mobile
    display none
