html(lang="en")
    head
        include /src/base/head.pug
        title rüt
        style: include index.css
    body
        //- caps because of small-caps font
        noscript: .msg.red JavaScript is Required
        .msg.blue#mobile Tap Anywhere
        canvas
        script: include index.js
