html(lang="en")
    head
        include /src/base/head.pug
        title rüt
        style: include index.css
    body
        //- caps because of small-caps font
        noscript: .msg JavaScript is Required
        .msg#progress Loading…
        canvas
        script: include index.js
