html(lang="en")
    head
        include /src/base/head.pug
        title rut
        style: include index.css
    body
        //- audio(autoplay loop src="kahoot.mp3")
        canvas
        script: include index.js
