@import "/src/base/const"

$black = #000

html
    background $black
    color $light
    user-select none
    font small-caps $fz $serif
    $text_smooth()

body
    margin 0

canvas
    display block

#msg
    position absolute
    left 0
    top 0
    width 100%
    padding 10px
    text-align center
