@import "/src/base/const"

html
    background #000
    color $light
    user-select none
    font small-caps $fz/$lh $sf
    text-smooth()

body
    margin 0

canvas
    display block

#msg
    position absolute
    top 0
    left 0
    width 100%
    padding 1ch
    text-important()
