.Root {
	font: 16px/1.5 Input, Menlo, Consolas, "Liberation Mono", monospace;
}

.MainTitle,
.SecTitle {
	margin: 0;
	font-size: 1em;
}

.Dl {
	margin: 0;
}

.Dd {
	margin: 0 0 1em 2em;
}

.SecContent {
	margin: 0 3em 1em;
}

@media only screen and (max-width: 600px) {
	.Root {
		font-size: 14px;
	}

	.Dd {
		margin-left: 1em;
	}

	.SecContent {
		margin-left: 1.5em;
		margin-right: 1.5em;
	}
}
