h1,
h2 {
	margin: 0;
	font-size: 1em;
}

dl {
	margin: 0;
}

dd {
	margin: 0 0 1em 2em;
}

p {
	margin: 0 0 1em;
}

.sec {
	margin: 0 3em 1em;
}

@media only screen and (max-width: 600px) {
	dd {
		margin-left: 1em;
	}

	.sec {
		margin-left: 1.5em;
		margin-right: 1.5em;
	}
}
