.MainTitle,
.SecTitle {
	margin: 0;
	font-size: 1em;
}

.Dd {
	margin: 0 0 1em 2em;
}

.SecContent {
	margin: 0 3em 1em;
}

@media only screen and (max-width: 600px) {
	.Dd {
		margin-left: 1em;
	}

	.SecContent {
		margin-left: 1.5em;
		margin-right: 1.5em;
	}
}
