.Heading,
.Subheading {
  margin: 0;
  font-size: 1em;
}

.Section {
  margin: 0 4ch 1em;
}

.DescList {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .Section {
    margin: 0 2ch 1em;
  }
}
