html(lang="en")
	head
		include /src/_base/head.pug
		style: include /build/404/index.css
		title 404 Not Found
	body
		h1 404 Not Found
		p This page does not exist
		script: include /build/404/index.js
