html(lang="en")
    head
        include /src/base/head.pug
        title this does not exist
        style: include index.css
    body
        h1 this does not exist
        script: include index.js
