html(lang="en")
    head
        include /src/base/pug/head.pug
        title 404 Not Found
        style: include index.css
    body
        h1 404 Not Found
        p The page you were looking for does not exist.
        script: include index.js
