@import "/src/base/styl/var"
@import "/src/base/styl/main_text"
@import "/src/base/styl/main_text_dark"
@import "/src/base/styl/a"
@import "/src/base/styl/a_dark"
@import "/src/base/styl/code"
@import "/src/base/styl/code_dark"
@import "/src/base/styl/h1_h2_h3"
@import "/src/base/styl/hr"
@import "/src/base/styl/pre"
@import "/src/base/styl/pre_dark"

html
    -webkit-font-smoothing subpixel-antialiased

canvas
    display block
    position absolute
    left 0
    z-index -9
