@import "/src/base/var"
@import "/src/base/main-text"
@import "/src/base/a"
@import "/src/base/code"
@import "/src/base/h1-h2-h3"
@import "/src/base/hr"
@import "/src/base/pre"

canvas
    display block
    position absolute
    left 0
    z-index -9
