* {
  box-sizing: border-box;
}

body {
  --page-fg: #222;
  --page-bg: #fff;
  --link-fg: #16d;
  --muted-fg: #555;

  max-width: 42em;
  margin: 0 auto;
  padding: 1em 1em 10em;
  font: 20px/1.5 Palatino, Georgia, serif;
  color: var(--page-fg);
  background-color: var(--page-bg);
}

@media (max-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --page-fg: #ddd;
    --page-bg: #222;
    --link-fg: #5af;
    --muted-fg: #bbb;
  }
}

a,
a:visited {
  color: var(--link-fg);
  text-underline-offset: 0.1em;
}

a:hover {
  text-decoration-thickness: 3px;
}

ul,
ol {
  padding-inline-start: 2em;
}
