* {
  box-sizing: border-box;
}

body {
  --page-fg: #222;
  --page-bg: #fff;
  --link-fg: #16d;
  --blockquote-fg: #555;

  max-width: 40em;
  margin: 0 auto;
  padding: 1em 1em 10em;
  font-size: 1.1em;
  color: var(--page-fg);
  background-color: var(--page-bg);
  font-family: Palatino, Garamond, Georgia, serif;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  body {
    --page-fg: #ddd;
    --page-bg: #222;
    --link-fg: #5af;
    --blockquote-fg: #bbb;
  }
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: var(--link-fg);
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  padding-inline-start: 2em;
}
