* {
  box-sizing: border-box;
}

body {
  --page-fg: #222;
  --page-bg: #fff;
  --link-fg: #16d;
  --blockquote-fg: #555;

  max-width: 42em;
  margin: 0 auto;
  padding: 1em 1em 10em;
  font: 18px/1.5 Verdana, Tahoma, sans-serif;
  color: var(--page-fg);
  background-color: var(--page-bg);
}

@media (prefers-color-scheme: dark) {
  body {
    --page-fg: #ddd;
    --page-bg: #222;
    --link-fg: #5af;
    --blockquote-fg: #bbb;
  }
}

a,
a:visited {
  color: var(--link-fg);
}

a:hover {
  text-decoration-thickness: 3px;
}

ul,
ol {
  padding-inline-start: 2em;
}
