h1 {
  margin: 0;
  font-size: 1em;
}

.section {
  margin: 0 2em 1em;
}

@media (max-width: 600px) {
  .section {
    margin: 0 1em 1em;
  }
}

dd {
  margin-inline-start: 2em;
}

@media (max-width: 600px) {
  dd {
    margin-inline-start: 1em;
  }
}
