body {
  --code-fg-comment: #289632;
  --code-fg-function: #785a28;
  --code-fg-keyword: #1414fa;
  --code-fg-number: #0a825a;
  --code-fg-string: #a01414;
  --code-fg-type: #288296;
  --code-bg: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
  body {
    --code-fg-comment: #64965a;
    --code-fg-function: #dcdcaa;
    --code-fg-keyword: #5a96dc;
    --code-fg-number: #b4c8aa;
    --code-fg-string: #c89678;
    --code-fg-type: #50c8aa;
    --code-bg: #333;
  }
}

blockquote {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0.9em;
  padding-inline-end: 1em;
  border-inline-start: 0.1em solid;
  color: var(--blockquote-fg);
}

img {
  display: block;
  max-width: 100%;
  background-color: #fff;
  border-radius: 0.3em;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

pre {
  overflow-x: auto;
  padding: 0.5em;
  border-radius: 0.3em;
  background-color: var(--code-bg);
}

code {
  font-family: Input, Menlo, Consolas, monospace;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  background-color: var(--code-bg);
}

pre code {
  padding: 0;
  border-radius: 0;
  background: none;
}

.hljs-comment {
  color: var(--code-fg-comment);
}

.hljs-string {
  color: var(--code-fg-string);
}

.hljs-title.function_ {
  color: var(--code-fg-function);
}

.hljs-type {
  color: var(--code-fg-type);
}

.hljs-number {
  color: var(--code-fg-number);
}

.hljs-keyword,
.hljs-literal {
  color: var(--code-fg-keyword);
}
