dark = #222
light = #ddd
phone = 600px

base-font(type)
    family = null
    family = Menlo, Consolas, "Liberation Mono", monospace if type == mono
    family = Georgia, serif if type == sf
    family = sans-serif if type == ssf
    error("bad type") if family == null
    font 16px/1.3 family
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%

font-smoothing()
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

text-important()
    font-weight bold
    text-align center

clickable()
    position relative
    cursor pointer
    touch-action manipulation
    -webkit-tap-highlight-color #0000
    &:active
        opacity 0.8
