dark = #222
light = #ddd
phone = 600px
ff-monospace = Menlo, Consolas, "Liberation Mono", monospace
ff-serif = Georgia, serif

text-size-adjust()
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%

font-smoothing()
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

clickable()
    cursor pointer
    touch-action manipulation
    -webkit-tap-highlight-color #0000
    &:active
        opacity 0.9

text-important()
    font-weight bold
    text-align center
