dark = #222
light = #ddd
phone = 600px
ff-monospace = Menlo, Consolas, "Liberation Mono", monospace
ff-serif = Georgia, serif

text-size-adjust()
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%

font-smoothing()
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

text-important()
    font-weight bold
    text-align center

clickable()
    highlight = #0002
    position relative
    cursor pointer
    touch-action manipulation
    -webkit-tap-highlight-color highlight
    &::after
        content ""
        display none
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        border-radius inherit
        background highlight
    &:active::after
        display block

