meta(charset='utf-8')
meta(
  content='width=device-width,initial-scale=1,user-scalable=no'
  name='viewport'
)
link(href='/favicon.png' rel='icon')
link(href='/touch-icon.png' rel='apple-touch-icon')
