@import "/src/base/const"

html
    background $dark
    color $light
    font $fz/$lh $mono
    text-smooth()

body
    max-width 82ch
    margin 0 auto
    padding 1.3em 1ch

#url
    margin 0 0 1.3em
    font-weight bold
    overflow hidden
    text-overflow ellipsis
