@import "/src/base/const"

html
    background $light
    color $dark
    text-base(mono)

body
    max-width 82ch
    margin 0 auto
    padding 1.3em 1ch

#url
    display none
    margin 0 0 1.3em
    font-weight bold
    overflow hidden
    text-overflow ellipsis
