-
    const d = new Date()
    const year = String(d.getFullYear())
    const iso =
        new Date(d.getTime() - d.getTimezoneOffset() * 60000)
        .toISOString()
        .substring(0, 10)

html(lang="en")
    mixin a(href, text)
        -
            if (typeof text === "undefined") {
                text = href
                    .replace(/https?:\/\//, "")
                    .replace(/^\//, "azdavis.xyz/")
            }
        | &lt;#[a(href= href)= text]&gt;
    //- see http://docopt.org
    //- an option
    mixin opt(text)
        = `${text.length === 1 ? "-" : "--"}${text}`
    //- a required thing
    mixin req(text)
        = `<${text}>`
    head
        include /src/base/head.pug
        title man azdavis
        style: include index.css
    body
        header.three
            div AZDAVIS(1)
            div User Commands
            div AZDAVIS(1)
        section
            h2 NAME
            div azdavis - a guy with certain characteristics
        section
            h2 SYNOPSIS
            div #[b azdavis] [option]... #[+req("command")] [arg]...
        section
            h2 DESCRIPTION
            div
                p.
                    azdavis is a guy from the United States. He studies
                    computer science at Carnegie Mellon®. He created this site
                    and is a fan of symbols such as ™, ®, and ©.
                p.
                    azdavis enjoys certain enjoyable activities, that among
                    these are tossing a Sportdisc™ (known to many as a
                    Frisbee®), playing Klaus Teuber's Catan® (known to many as
                    Settlers of Catan®), and copy-pasting from Stack Overflow™
                    (known to many as the act of programming).
        section
            h2 OPTIONS
            div: dl
                dt #[+opt("help")]
                dd Display this help and exit.
                dt #[+opt("version")]
                dd Display current age in years and exit.
                dt #[+opt("q")], #[+opt("quiet")]
                dd Be quiet, only report errors. This is the default.
                dt #[+opt("v")], #[+opt("verbose")]
                dd Be chatty. This can only be used in special cases.
                dt.
                    #[+opt("l")] #[+req("code")],
                    #[span.nw #[+opt("lang")]=#[+req("code")]]
                dd.
                    Use the given language for communication, where
                    #[+req("code")] is one of en or ja, for English or
                    Japanese, respectively. The default is en. Using ja may
                    result in poorly-constructed or grammatically incorrect
                    sentences.
        section
            h2 COMMANDS
            div: dl
                dt get-github-info
                dd.
                    Show information about azdavis' public repositories and
                    contributions on GitHub®. This information is also viewable
                    at #[+a("https://github.com/azdavis")].
                dt lameify-geometry-wars
                dd.
                    With no arguments, launch a simple arrow-key game which
                    unintentionally bears some similarities to Bizarre
                    Creation's Geometry Wars, but is altogether more mediocre.
                    With #[span.nw #[+opt("rules")]], show the rules for such a game.
                    See also #[+a("/lgw")].
                dt generate-catan-board
                dd.
                    Generate a valid Catan® board. The type of board can be
                    specified with #[span.nw #[+opt("type")]=#[+req("type")]],
                    where #[+req("type")] is one of reg or exp, for regular or
                    expansion, respectively. The default is reg. See also
                    #[+a("/cbg")].
        section
            h2 AUTHORS
            div Written by David and Karen Davis.
        section
            h2 SAYING HELLO
            div.
                Email
                #[+a("mailto:?subject=Hello", "ariel.z.X@icloud.com")]
                (replace X with davis).
        section
            h2 COPYRIGHT
            div.
                Copyright © #[time(datetime= year)= year] Ariel Davis. All
                rights reserved.
        footer.three
            div Ariel Davis
            div: time(datetime= iso)= iso
            div AZDAVIS(1)
        script: include index.js
