html(lang="en")
    head
        include /src/base/head.pug
        title.
            man azdavis
        style: include index.css
    body
        section
            h2.
                NAME
            div.
                azdavis - some guy
        section
            h2.
                SYNOPSIS
            div: code.
                azdavis [option]... &lt;command&gt; [arg]...
        section
            h2.
                DESCRIPTION
            div
                p.
                    azdavis studies computer science at Carnegie Mellon®. He
                    created this site and is a fan of symbols such as ™ and ®.
                p.
                    azdavis enjoys certain enjoyable activities, that among
                    these are tossing a Sportdisc™, playing Klaus Teuber's
                    Catan®, and copy-pasting from Stack Overflow™.
        section
            h2.
                OPTIONS
            div: dl
                dt: code.
                    --help
                dd.
                    Display this help.
                dt: code.
                    --version
                dd.
                    Display current age.
                dt: code.
                    --quiet
                dd.
                    Mute the system volume.
                dt: code.
                    --force
                dd.
                    Equivalent to #[em ma].
        section
            h2.
                COMMANDS
            div: dl
                dt: code: a(href="https://keybase.io/azdavis").
                    get-keybase-info
                dd.
                    Show azdavis' public Keybase profile.
                dt: code: a(href="/lgw").
                    lameify-geometry-wars
                dd.
                    Launch a simple arrow-key game which unintentionally bears
                    some similarities to Bizarre Creation's Geometry Wars, but
                    is altogether more mediocre.
                dt: code: a(href="/cbg").
                    generate-catan-board [#[span.nw --type=&lt;type&gt;]]
                dd.
                    Generate a Catan® board. The type of board can be
                    specified, where #[code &lt;type&gt;] is one of #[code reg]
                    or #[code exp], for regular or expansion, respectively. The
                    default is #[code reg].
                dt: code: a(href="/rut").
                    congratulate-rut-birthday
                dd.
                    If it is Sukrut Sonty's birthday, extend to him the
                    heartiest of congratulations. Otherwise, nop.
                dt: code: a(href="/10k").
                    participate-in-competition
                dd.
                    Description pending.
        section
            h2.
                AUTHORS
            div.
                Written by David and Karen Davis.
        section
            h2.
                COPYRIGHT
            div.
                Copyright 2016 Ariel Davis.
