@import "/src/base/const"

html
    background $dark
    color $light
    text-base($mono)
    text-smooth()

body
    max-width 82ch
    margin 0 auto
    padding 1.3em 1ch

header
section
footer
    display block

section
footer
    margin 1.3em 0 0

section div
    margin 0 6ch

h2
h3
    margin 0
    font-size 1em

p
    margin 0 0 1.3em

a
    text-decoration none
    &:hover
        text-decoration underline
    &
    &:visited
        color inherit
    &::before
        content "<"
    &::after
        content ">"

.three div
    display inline-block
    width 33.3333%
    &:nth-child(2)
        text-align center
    &:last-child
        text-align right

.opt
    margin 0 0 1.3em 4ch

.ja
    font-family Menlo, monospace

@media only screen and (max-width 600px)
    section div
        margin 0 3ch
    .three div
        width 50%
        &:nth-child(2)
            display none
    .opt
        margin 0 0 1.3em 2ch
