html(lang="en" manifest="index.manifest")
    head
        include ./_base/head.pug
        style: include ./index.css
        title man azdavis
    body
        h1 NAME
        .sec azdavis - some guy
        h2 SYNOPSIS
        .sec azdavis [options] &lt;command&gt;
        h2 DESCRIPTION
        .sec.
            azdavis is pursuing a major in computer science, with a minor in
            Japanese studies, from Carnegie Mellon University. He enjoys
            tossing Sportdiscs™, playing Catan®, and copy-pasting from Stack
            Overflow™, among other things.
        h2 OPTIONS
        dl.sec
            dt -h, --help
            dd Display this help.
            dt -v, --version
            dd Display current age.
            dt -f, --force
            dd Equivalent to m * a.
        h2 COMMANDS
        dl.sec
            dt: a(href="/resume") view-accomplishments
            dd Browse azdavis' resume.
            dt: a(href="/catan-gen") generate-catan-board
            dd Generate a Catan® board.
            dt: a(href="/clock") get-time
            dd Display the current approximate time.
            dt: a(href="/touch-hockey" target="_blank" rel="noopener noreferrer").
                play-touch-hockey
            dd Play a multitouch hockey game.
        h2 PROFILES
        dl.sec
            dt: a(href="https://github.com/azdavis") GitHub
            dd A server for git remotes.
            dt: a(href="https://www.reddit.com/user/azdavis") Reddit
            dd A place for people to discuss things.
            dt: a(href="https://news.ycombinator.com/user?id=azdavis").
                Hacker News
            dd A place for hackers to discuss things.
            dt: a(href="https://keybase.io/azdavis") Keybase
            dd A place for verification of profile ownership.
        h2 AUTHORS
        .sec Written by David and Karen Davis.
        h2 COPYRIGHT
        .sec Copyright 1998-2017 Ariel Davis.
        script: include ./index.c.js
