html(lang="en")
    mixin a(href, text)
        -
            if (typeof text === "undefined") {
                text = href
                    .replace(/https?:\/\//, "")
                    .replace(/^\//, "azdavis.xyz/")
            }
        | &lt;#[a(href= href)= text]&gt;
    //- an option
    mixin opt(text)
        = `${text.length === 1 ? "-" : "--"}${text}`
    //- a required thing
    mixin req(text)
        = `<${text}>`
    head
        include /src/base/head.pug
        title man azdavis
        style: include index.css
    body
        section
            h2 NAME
            div azdavis - a guy with certain characteristics
        section
            h2 SYNOPSIS
            div: code azdavis [option]... #[+req("command")] [arg]...
        section
            h2 DESCRIPTION
            div
                p.
                    azdavis is a guy who studies computer science at Carnegie
                    Mellon®. He created this site and is a fan of symbols such
                    as ™, ®, and ©.
                p.
                    azdavis enjoys certain enjoyable activities, that among
                    these are tossing a Sportdisc™, playing Klaus Teuber's
                    Catan®, and copy-pasting from Stack Overflow™.
        section
            h2 OPTIONS
            div: dl
                dt #[+opt("help")]
                dd Display this help.
                dt #[+opt("version")]
                dd Display current age.
                dt #[+opt("q")], #[+opt("quiet")]
                dd Be quiet, only report errors. This is the default.
                dt #[+opt("v")], #[+opt("verbose")]
                dd Be chatty.
                dt #[+opt("lang")]=#[+req("code")]
                dd.
                    Use the given language for communication, where
                    #[+req("code")] is one of en or ja, for English or
                    Japanese, respectively. The default is en. Using ja may
                    result in poor sentence quality.
        section
            h2 COMMANDS
            div: dl
                dt get-github-info
                dd.
                    Show information about azdavis' public repositories and
                    contributions on GitHub®. This information is also viewable
                    at #[+a("https://github.com/azdavis")].
                dt lameify-geometry-wars
                dd.
                    Launch a simple arrow-key game which unintentionally bears
                    some similarities to Bizarre Creation's Geometry Wars, but
                    is altogether more mediocre. See also #[+a("/lgw")].
                dt generate-catan-board
                dd.
                    Launch an interface for generating Catan® boards. The type
                    of board, regular or expansion, can be specified. See also
                    #[+a("/cbg")].
        section
            h2 AUTHORS
            div Written by David and Karen Davis.
        section
            h2 COPYRIGHT
            - const year = String(new Date().getFullYear())
            div.
                Copyright © #[time(datetime= year)= year] Ariel Davis. All
                rights reserved.
        script: include index.js
