html(lang="en")
    head
        include ./base/head.pug
        title man azdavis
        style: include index.css
    body
        h1 NAME
        .sec azdavis - some guy
        h2 SYNOPSIS
        .sec azdavis [option]... &lt;command&gt; [arg]...
        h2 DESCRIPTION
        .sec
            p.
                azdavis studies computer science at Carnegie Mellon®. He
                created this site and is a fan of symbols such as ™ and ®.
            p.
                azdavis enjoys certain enjoyable activities, that among
                these are tossing a Sportdisc™, playing Klaus Teuber's
                Catan®, and copy-pasting from Stack Overflow™.
        h2 OPTIONS
        dl.sec
            dt --help
            dd Display this help.
            dt --version
            dd Display current age.
            dt --quiet
            dd Mute the system volume.
            dt --force
            dd Equivalent to m * a.
        h2 COMMANDS
        dl.sec
            dt: a(href="/resume") view-accomplishments
            dd Browse azdavis' resume.
        h2 PROFILES
        dl.sec
            dt: a(href="https://github.com/azdavis") GitHub
            dd A server for git remotes.
            dt: a(href="https://www.reddit.com/user/azdavis") Reddit
            dd A place for people to discuss things.
            dt: a(href="https://news.ycombinator.com/user?id=azdavis") Hacker News
            dd A place for hackers to discuss things.
            dt: a(href="https://keybase.io/azdavis") Keybase
            dd A place for verification of profile ownership.
        h2 AUTHORS
        .sec Written by David and Karen Davis.
        h2 COPYRIGHT
        .sec Copyright 2016 Ariel Davis.
        script: include index.js
