-
    const now = new Date()
    const nowYr = now.getFullYear()
    const tzOff = now.getTimezoneOffset() * 60000
    const nowStr =
        new Date(1 * now - tzOff)
        .toISOString()
        .substring(0, 10)

html(lang="en")
    mixin a(h)
        a(href= h)= h.replace(/https?:\/\//, "").replace(/^\//, "azdavis.xyz/")
    mixin opt(t)
        span= `‑${t}`
    mixin lopt(t)
        span= `‑-${t}`
    mixin arg(t)
        span= `<${t}>`
    head
        include /src/base/head.pug
        title man azdavis
        style: include index.css
    body
        header.three
            div AZDAVIS(1)
            div User Commands
            div AZDAVIS(1)
        section
            h2 NAME
            div azdavis - a guy with certain characteristics
        section
            h2 SYNOPSIS
            div #[b azdavis] [option]... [command] [arg]...
        section
            h2 DESCRIPTION
            div
                p.
                    azdavis is a guy from the United States. He studies
                    computer science at Carnegie Mellon®. He created this site
                    and is a fan of symbols such as ™, ®, and ©.
                p.
                    azdavis spends most of his time browsing Hacker News™ and
                    other news sites. When he's not doing that, he may work on
                    his personal computer-science-y project du jour, read a
                    book, or fruitlessly attempt to learn the Japanese
                    language.
                p.
                    azdavis enjoys certain enjoyable activities, that among
                    these are tossing a Sportdisc™ (known to many as a
                    Frisbee®), playing Klaus Teuber's Catan® (known to many as
                    Settlers of Catan®), and copy-pasting from Stack Overflow™
                    (known to many as the act of programming).
        section
            h2 OPTIONS
            div
                h3 #[+opt("h")], #[+lopt("help")]
                .desc Display this help and exit.
                h3 #[+opt("v")], #[+lopt("version")]
                .desc Display current age in years and exit.
                h3 #[+opt("q")], #[+lopt("quiet")]
                .desc Be quiet, only report errors. This is the default.
                h3 #[+opt("v")], #[+lopt("verbose")]
                .desc Be chatty. This can only be used in special cases.
                h3.
                    #[+opt("l")] #[+arg("code")],
                    #[+lopt("lang")]=#[+arg("code")]
                .desc.
                    Use the given language for communication, where
                    #[+arg("code")] is one of en or ja, for English or
                    Japanese, respectively. The default is en. Using ja may
                    result in poorly-constructed or grammatically incorrect
                    sentences.
        section
            h2 COMMANDS
            div
                h3 get-github-info
                .desc.
                    Show information about azdavis' public repositories and
                    contributions on GitHub®. This information is also viewable
                    at #[+a("https://github.com/azdavis")].
                h3 play-lame-geometry-wars
                .desc.
                    With no arguments, launch a simple arrow-key game which
                    unintentionally bears some similarities to Bizarre
                    Creation's Geometry Wars, but is altogether more mediocre.
                    With #[+lopt("rules")], show the rules for such a game.
                    See also #[+a("/lgw")].
                h3 generate-catan-board
                .desc.
                    Generate a valid Catan® board. The type of board, regular
                    or expansion, can be specified with
                    #[+lopt("type")]=#[+arg("type")], where #[+arg("type")]
                    is one of reg or exp. The default is reg.
                    See also #[+a("/cbg")].
        section
            h2 AUTHORS
            div Written by David and Karen Davis.
        section
            h2 SAYING HELLO
            div.
                Email
                #[a(href="mailto:?subject=Hello") ariel.z.X@icloud.com]
                (replace X with davis).
        section
            h2 COPYRIGHT
            div.
                Copyright © #[time(datetime= nowYr)= nowYr] Ariel Davis. All
                rights reserved.
        footer.three
            div Ariel Davis
            div: time(datetime= nowStr)= nowStr
            div AZDAVIS(1)
        script: include index.js
