@import "/src/base/const"

html
    background $light
    color $dark
    font $fz/$lh $sf

body
    max-width 45em
    margin 0 auto
    padding 0.5em

header
section
footer
    display block

section
footer
    margin 1em 0 0

section div
    margin 0 3em

dl
    margin 0

dt
    font-weight bold

dd
    margin 0 0 1em 2em

h2
    margin 0
    font-size 1em

p
    margin 0 0 1em

a
a:visited
    color inherit

a:active
a:hover
    outline 0

.three div
    display inline-block
    width 33.3333%
    &:nth-child(2)
        text-align center
    &:last-child
        text-align right

.nw
    white-space nowrap

@media only screen and (max-width $phone)
    section div
        margin-left 1.5em
        margin-right 1.5em
    dd
        margin-left 1em
    .three div
        width 50%
        &:nth-child(2)
            display none
