@import "./base/a"

*
    box-sizing border-box

html
    color #222
    font medium/1.5 Input, Menlo, Consolas, "Liberation Mono", monospace

body
    max-width 800px
    margin 1em auto
    padding 10px

h1
h2
    margin 0
    font-size 1em

dl
    margin 0

dd
    margin 0 0 1em 2em

p
    margin 0 0 1em

.sec
    display block
    margin 0 3em 1em

@media only screen and (max-width 600px)
    .sec
        margin-left 1.5em
        margin-right 1.5em
    dd
        margin-left 1em

@media not print
    .dark
        background #222
        color #ddd
        -moz-osx-font-smoothing grayscale
        -webkit-font-smoothing antialiased
