* {
	box-sizing: border-box;
}

html {
	background: #eee;
	color: #222;
}

body {
	max-width: 800px;
	margin: 0 auto;
	padding: 10px;
}

a {
	text-decoration: none;
	border-bottom: 1px solid #888;
}

a,
a:visited {
	color: inherit;
}

a:active,
a:hover {
	color: #888;
}

@media only print {
	body {
		max-width: none;
		margin: 0;
		padding: 0;
	}

	a {
		border: 0;
	}
}
