* {
  box-sizing: border-box;
}

html {
  color: #222;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}

body {
  max-width: 70ch;
  margin: 0 auto;
  padding: 0.5em;
}

a,
a:visited {
  color: inherit;
}

code {
  font-family: Menlo, Consolas, monospace;
}

pre {
  background-color: #fafafa;
  padding: 1em;
  border-radius: 0.5em;
  overflow-x: scroll;
}

.token.tag,
.token.selector,
.token.operator,
.token.deleted,
.token.keyword {
  color: #822;
}

.token.inserted,
.token.attr-name {
  color: #282;
}

.token.regex,
.token.boolean,
.token.number {
  color: #228;
}

.token.coord {
  color: #288;
}

.token.attr-value,
.token.string,
.token.char {
  color: #882;
}
