@import "/src/base/const"

$blue = #22a

html
body
    height 100%

html
    background $dark
    color $light
    user-select none
    font $font_size/$line_height $sans_serif
    $text_smooth()

body
    margin 0
    padding 0.5em

canvas
    display block
    margin auto

#noscript
    font-weight bold
    text-align center

#btns
    $gap = 0.5em
    display flex
    max-width 30em
    margin 0 auto ($gap)
    div
        width 100%
        margin 0 ($gap / 2)
        padding $gap
        border-radius $gap
        background $blue
        font-weight bold
        text-align center
        $clickable()
        &:first-of-type
            margin-left 0
        &:last-of-type
            margin-right 0

#container
    display flex
