@import "/src/base/const"

$blue = #22a

html
body
    height 100%

html
    background $dark
    color $light
    user-select none
    font bold $fz $serif
    $text_smooth()

body
    margin 0
    padding 10px

canvas
    display block
    margin auto

#noscript
    font-weight bold
    text-align center

#btns
    display flex
    max-width 30em
    margin 0 auto 10px
    div
        width 100%
        margin 0 5px
        padding 10px
        border-radius 10px
        background $blue
        text-align center
        $pressable()
        &:first-of-type
            margin-left 0
        &:last-of-type
            margin-right 0

#container
    display flex
