html(lang="en")
    head
        include /src/base/head.pug
        title catan® board generator
        style: include index.css
    body
        noscript: div javascript is required
        #btns
            #reg regular
            #exp expansion
        #container: canvas
        script: include index.js
