html(lang="en")
    head
        include /src/base/head.pug
        title catan® board generator
        style: include index.css
    body
        #noscript javascript is required
        script: include index.js
