@import "/src/base/const"

html
body
    height 100%

html
    background $dark
    color $light
    user-select none
    font $fz/$lh $mono
    text-smooth()

body
    margin 0
    padding 1ch

canvas
    display block
    margin auto

noscript div // @stylint ignore
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    padding 1ch
    background $dark
    text-important()

#btns
    $gap = 1ch
    display flex
    max-width 60ch
    margin 0 auto ($gap)
    div
        width 100%
        margin 0 ($gap / 2)
        padding 1em
        border-radius 1em
        background #44a
        text-important()
        clickable()
        &:first-child
            margin-left 0
        &:last-child
            margin-right 0

#container
    display flex
