a
    text-decoration none
    &
    &:visited
        color #06c
    &:active
    &:hover
        outline 0
        text-decoration underline

@media not print
    .dark a
    .dark a:visited
        color #5bd
