pre
code
    border-radius 3px
    background darken($light, 4%)

pre
    padding 0.9em
    white-space pre-wrap

code
    padding 3px
    font-size 0.9em
    font-family $mono

pre > code
    padding 0
    background none
