// default styles

* // @stylint ignore
    box-sizing border-box

// global variables

$dark = #222
$light = #ddd

$fz = 16px
$lh = 1.3

$mono = Input, Menlo, Consolas, "Liberation Mono", monospace
$sf = Georgia, serif
$ssf = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif

// useful functions

text-smooth()
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

text-important()
    font-weight bold
    text-align center

clickable()
    cursor pointer
    touch-action manipulation
    -webkit-tap-highlight-color transparent
    &:active
        opacity 0.8
