* // @stylint ignore
    box-sizing border-box

$dark = #222
$light = #eee
$link = #22a

$phone = 600px
$font_size = 18px
$line_height = 1.4

// @stylint off
$monospace = \
    Menlo, Consolas, "Liberation Mono", monospace
$serif = \
    Palatino, Georgia, serif
$sans_serif = \
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif
// @stylint on

text-smooth()
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

clickable()
    cursor pointer
    touch-action manipulation
    -webkit-tap-highlight-color transparent
    &:active
        opacity 0.8
