$dark = #222
$light = #FFF
$red = #A22
$green = #2A2
$blue = #22A

$phone = 600px
$fz = 18px
$lh = 1.5

$serif = Georgia, serif
$sans = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif
$mono = Menlo, Consolas, "Liberation Mono", monospace

$text_smooth()
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

$pressable()
    position relative
    cursor pointer
    -webkit-tap-highlight-color transparent
    &::before
        $transparent_black = #0003
        content ""
        display none
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        border-radius inherit
        background $transparent_black
    &:active::before
        display block

*
    box-sizing border-box
