meta(charset="utf-8")
meta(
    name="viewport"
    content="width=device-width,initial-scale=1,user-scalable=no"
)
link(rel="icon" href="/base/favicon.png")
link(rel="apple-touch-icon" href="/base/touch-icon.png")
