@import "/base/constants"

*
    box-sizing border-box

html
body
    height 100%

html
    background dark
    color light
    font 16px/1.3 ff-monospace
    user-select none
    text-size-adjust()
    font-smoothing()

body
    margin 0

canvas
    display block
    margin auto

noscript div
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    padding 1ch
    background dark
    important-text()

#btns
    gap = 1ch
    max-width 60ch
    margin 0 auto
    padding (gap / 2)
    div
        display inline-block
        width "calc(50% - %s)" % gap
        margin (gap / 2)
        padding 1em
        border-radius 1em
        background #44a
        important-text()
        clickable()

#container
    display flex
