html(lang="en")
  head
    include /base/head.pug
    title catan® board generator
    style: include index.css
  body
    noscript: div javascript is required
    #btns
      #gen generate
    #container: canvas
    script: include index.js
