html(lang="en")
  head
    include /base/head.pug
    title catan® board generator
    style: include index.css
  body
    #msg javascript is required
    #container: canvas
    script: include index.js
