@import "/base/variables"

html
    background dark
    color light
    font 16px/1.3 mono
    user-select none
    text-size-adjust()

body
    margin 0

canvas
    display block
    cursor pointer
    touch-action manipulation
    -webkit-tap-highlight-color #0000

#msg
    position absolute
    top 0
    left 0
    width calc(100% - 2 * 1ch)
    padding 1ch
    text-align center
